<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvvRyAwq0oCQM2ZSi2afs6teSfMNS8Is4</string>
	<key>GCM_SENDER_ID</key>
	<string>573614851075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DigiYatra</string>
	<key>PROJECT_ID</key>
	<string>digiyatra-e5e6f</string>
	<key>STORAGE_BUCKET</key>
	<string>digiyatra-e5e6f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573614851075:ios:619916fc43b52f8449ba36</string>
</dict>
</plist>